*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito", sans-serif;
  color: rgb(0, 0, 0);
  background-color: white;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
  min-width: 320px;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #0014bd;
}

ul {
  margin: 0;
  list-style-type: none;
}

h1 {
  font-family: "Sacramento", cursive;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
}

header .profile-image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  font-weight: 600;
  font-size: 1rem;
}

nav a:first-child {
  padding-left: 0;
}

.profile {
  text-align: center;
  margin: 0 auto;
  max-width: 640px;
  padding: 2rem;
  padding-bottom: 5rem;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile-image img {
  border-radius: 50%;
  height: 100px;
}

.profile-user-name {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
}

.profile-edit-btn {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
  cursor: pointer;
}

.profile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profile-social nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profile-social-text {
  font-weight: 600;
}

.profile-social nav a {
  color: #000000;
  font-weight: 400;
}

.profile-social nav i {
  font-size: 2.5rem;
}

.profile-settings-btn {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 1rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: -2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}

.listings {
  text-align: center;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #f5f5f5;
}

.listings h1 {
  text-align: center;
  font-size: 3rem;
}

footer {
  text-align: center;
  font-size: 1.65rem;
  padding: 2rem;
}

footer p {
  font-size: 1.4rem;
}

.ui-toolkit * {
  margin: 0;
}

.ui-toolkit a {
  background: transparent;
}

.ui-toolkit a:focus {
  outline: thin dotted;
}

.ui-toolkit a:active,
.ui-toolkit a:hover {
  outline: 0;
}

.ui-toolkit img {
  border: 0;
}

.ui-toolkit *,
.ui-toolkit *:before,
.ui-toolkit *:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-toolkit ul {
  list-style-position: outside;
  padding-left: 18px;
}

.ui-toolkit .text-body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans",
    "Segoe UI", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

@media screen and (orientation: portrait) and (min-device-width: 740px),
  screen and (orientation: landscape) and (min-device-height: 740px) {
  .ui-toolkit .text-body {
    font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto",
      "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
  }
}

.ui-toolkit [class*="col-lg-"] {
  float: left;
  width: 100%;
}

@media only screen and (min-width: 0) {
  .ui-toolkit [class*="col-lg-"] {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media only screen and (min-width: 640px) {
  .ui-toolkit [class*="col-lg-"] {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 900px) {
  .ui-toolkit [class*="col-lg-"] {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media only screen and (min-width: 900px) {
  .ui-toolkit .col-lg-9 {
    width: 75%;
  }
}

.ui-toolkit [class*="block-grid-xs-"],
.ui-toolkit [class*="block-grid-md-"] {
  padding-left: 0;
}

.ui-toolkit [class*="block-grid-xs-"]:before,
.ui-toolkit [class*="block-grid-xs-"]:after,
.ui-toolkit [class*="block-grid-md-"]:before,
.ui-toolkit [class*="block-grid-md-"]:after {
  content: " ";
  display: table;
}

.ui-toolkit [class*="block-grid-xs-"]:after,
.ui-toolkit [class*="block-grid-md-"]:after {
  clear: both;
}

@media only screen and (min-width: 0) {
  .ui-toolkit [class*="block-grid-xs-"],
  .ui-toolkit [class*="block-grid-md-"] {
    margin: -6px;
  }
}

@media only screen and (min-width: 480px) {
  .ui-toolkit [class*="block-grid-xs-"],
  .ui-toolkit [class*="block-grid-md-"] {
    margin: -9px;
  }
}

.ui-toolkit .block-grid-item {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

@media only screen and (min-width: 0) {
  .ui-toolkit .block-grid-item {
    padding: 6px;
  }
}

@media only screen and (min-width: 480px) {
  .ui-toolkit .block-grid-item {
    padding: 9px;
  }
}

@media only screen and (min-width: 0) {
  .ui-toolkit .block-grid-xs-2 > .block-grid-item {
    width: 50%;
  }
}

@media only screen and (min-width: 640px) {
  .ui-toolkit .block-grid-md-3 > .block-grid-item {
    width: 33.33333%;
  }
}

.ui-toolkit .block-grid-no-whitespace > .block-grid-item {
  margin-right: 0;
}

.ui-toolkit .btn {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  line-height: 1.4;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

.ui-toolkit .btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.ui-toolkit .btn:focus {
  text-decoration: none;
}

.ui-toolkit .btn:active {
  cursor: default;
}

.ui-toolkit .btn:disabled {
  cursor: default;
  pointer-events: none;
}

.ui-toolkit .btn-secondary {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.15);
  color: #222;
}

.ui-toolkit .btn-secondary:hover {
  background-color: #f9f9f7;
  border-color: rgba(0, 0, 0, 0.2);
}

.ui-toolkit .btn-secondary:active {
  background-color: #f0f0ec;
  border-color: rgba(0, 0, 0, 0.5);
}

.ui-toolkit .btn-secondary:active:focus {
  border-color: rgba(0, 0, 0, 0.8);
}

.ui-toolkit .btn-secondary:disabled {
  background-color: #faf9f5;
  border-color: rgba(0, 0, 0, 0.15);
  color: #757575;
}

.ui-toolkit .btn-secondary:focus {
  border-color: rgba(0, 0, 0, 0.8);
}

.ui-toolkit a {
  color: #e55400;
  text-decoration: none;
}

.ui-toolkit a:hover,
.ui-toolkit a:focus,
.ui-toolkit a:active {
  cursor: pointer;
  text-decoration: underline;
}

.ui-toolkit .placeholder {
  background-color: #faf9f5;
  position: relative;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.ui-toolkit .placeholder:before {
  content: "";
  display: block;
  height: 0;
}

.ui-toolkit .placeholder-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.ui-toolkit .placeholder-landscape:before {
  padding: 0 0 79.412% 0;
}

.ui-toolkit .text-gray {
  color: #222;
}

@media only screen and (min-width: 0) {
  .ui-toolkit .flex-xs-none {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
  }
}

.ui-toolkit .strong {
  font-weight: bold;
}

@media screen and (orientation: portrait) and (min-device-width: 680px),
  screen and (orientation: landscape) and (min-device-height: 680px) {
  .ui-toolkit .strong {
    font-weight: 500;
  }
}

@media only screen and (min-width: 0) {
  .ui-toolkit .text-center {
    text-align: center;
  }
}

.ui-toolkit .text-truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-toolkit .display-inline-block {
  display: inline-block;
}

.ui-toolkit .display-block {
  display: block;
}

.ui-toolkit .display-none {
  display: none;
}

@media only screen and (min-width: 0) {
  .ui-toolkit .mt-xs-0 {
    margin-top: 0px;
  }
  .ui-toolkit .mb-xs-0 {
    margin-bottom: 0px;
  }
  .ui-toolkit .mb-xs-1 {
    margin-bottom: 6px;
  }
  .ui-toolkit .mb-xs-2 {
    margin-bottom: 12px;
  }
  .ui-toolkit .mb-xs-3 {
    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 0) {
  .ui-toolkit .pr-xs-0 {
    padding-right: 0px;
  }
  .ui-toolkit .pl-xs-0 {
    padding-left: 0px;
  }
  .ui-toolkit .pr-xs-8 {
    padding-right: 48px;
  }
  .ui-toolkit .pl-xs-8 {
    padding-left: 48px;
  }
}

.ui-toolkit .position-relative {
  position: relative;
}

.ui-toolkit .position-absolute {
  position: absolute;
}

.ui-toolkit .position-right {
  right: 0;
}

.ui-toolkit .position-bottom {
  bottom: 0;
}

.ui-toolkit .position-left {
  left: 0;
}

.ui-toolkit .width-full {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.block-grid-item {
  position: relative;
  display: inline-block;
  width: 23%;
  margin: 1%;
  vertical-align: top;
}

@media only screen and (min-width: 0) {
  .block-grid-item {
    width: 98%;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 640px) {
  .block-grid-item {
    width: 48%;
  }
}

@media only screen and (min-width: 900px) {
  .block-grid-item {
    width: 31.33%;
  }
}

@media only screen and (min-width: 1280px) {
  .block-grid-item {
    width: 23%;
  }
}

.placeholder {
  background: #ebebe6;
}

.height-placeholder {
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ui-toolkit .v2-listing-card a:hover {
  text-decoration: none;
}

#content .v2-listing-card a:active {
  text-decoration: none;
}

.v2-listing-card {
  -webkit-box-shadow: 0 1px 1px rgb(241, 239, 135);
  box-shadow: 0 1px 1px rgb(241, 239, 135);
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.v2-listing-card a {
  color: #222;
}

.v2-listing-card a:hover {
  text-decoration: none;
}

.v2-listing-card a:focus .v2-listing-card__img {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.v2-listing-card a.listing-link {
  width: 100%;
}

.v2-listing-card__img {
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.v2-listing-card__img img {
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
}

.v2-listing-card__info {
  font-weight: 600;
  padding: 5px 20px;
  text-align: left;
  background: rgb(246, 247, 184);
  margin-top: -10px;
  min-height: 100px;
}

.v2-listing-card:hover,
.v2-listing-card:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 20px 70px rgba(241, 239, 135, 0.59);
  box-shadow: 0 20px 70px rgba(241, 239, 135, 0.59);
  -ms-transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  -webkit-transition-delay: 0s !important;
  -o-transition-delay: 0s !important;
  transition-delay: 0s !important;
}

.v2-listing-card .n-listing-card__price {
  white-space: normal;
  font-weight: 600;
}

.ui-toolkit .placeholder.vertically-centered-placeholder:before {
  display: none;
}

.ui-toolkit .vertically-centered-placeholder {
  border-radius: 2px;
}

.n-listing-card__price,
.text-danger {
  display: none;
}

@media screen and (max-width: 480px) and (min-width: 0px) {
  .profile-user-name {
    font-size: 3rem;
  }
  .profile-bio {
    font-size: 1rem;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
  }
  header .profile-image,
  header nav {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    margin-bottom: 20px;
  }
  footer {
    font-size: 1rem;
  }
}

.v2-listing-card__actions {
  display: none;
}